<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; }
      .well { text-align:center; }
      div.well.question.unanswered { background-color: #3f51b5; color:#ffeb3b; font-weight:bold; }
      .well.question {}
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
